<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('users.name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('users.email') %>:</strong>
  <%= @user.email %>
</p>

<%= link_to t('nav.edit'), edit_user_path(id: @user.id) %> |
<%= link_to t('nav.back'), root_path %>
