<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, t('alert.error')) %> <%= t('orders.form.prohibited_this_order_from_being_saved') %></h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @order.id? %>
  <div>
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <% end %>
  <div>
    <%= f.label :payment %><br>
    <%= f.text_field :payment %>
  </div>
  <div>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div>
  <%= f.label :line_items, t('orders.form.Products') %>
  <div>
  <%= f.fields_for :line_items do |builder| %>
    <%= render 'line_item_fields', :f => builder %>
  <% end %>
  <%= link_to_add_fields t('orders.form.add_item'), f, :line_items %>
  </div>
  </div>
  <div>
    <%= f.submit t('orders.form.add') %>
  </div>

<% end %>
