    <tr class="fields">
        <p>
            <%= f.text_area :product_id %>
            <%= f.text_area :units %>
            <%= f.text_area :price %>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :_destroy %>
            <%= link_to_function "remove", "remove_fields(this)" %>
        </p>
