    <div class="fields">
        <%= f.collection_select :product_id, Product.all, :id, :name, prompt: true %>
        <%= f.select :units, (0..10).map {|i| [i,i] } %>
        <%= f.text_field :price, placeholder: "0.0" %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :_destroy %>
        <%= link_to_function "Remove", "remove_fields(this)" %>
    </div>
