<h1><%= t('orders.title') %></h1>


<table>
  <thead>
    <tr>
      <th><%= t('orders.status') %></th>
      <th><%= t('orders.payment') %></th>
      <th><%= t('orders.address') %></th>
      <th><%= t('orders.city') %></th>
      <th><%= t('orders.name') %></th>
      <th><%= t('orders.surname') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= order.payment %></td>
        <td><%= order.address %></td>
        <td><%= order.city %></td>
        <td><%= order.name %></td>
        <td><%= order.surname %></td>
        <td><%= link_to t('nav.show'), order_path(id: order.id) %></td>
        <td><%= link_to t('nav.edit'), edit_order_path(id: order.id) %></td>
        <td><%= link_to t('alert.destroy'), order_path(id: order.id), method: :delete, data: { confirm: t('alert.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('orders.new'), new_order_path %>
