<% if current_user %>
<h1>Listing orders</h1>


<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Payment</th>
      <th>Address</th>
      <th>City</th>
      <th>Name</th>
      <th>Surname</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.state %></td>
        <td><%= order.payment %></td>
        <td><%= order.address %></td>
        <td><%= order.city %></td>
        <td><%= order.name %></td>
        <td><%= order.surname %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to order, method: :delete, data: { confirm: 'Are you sure?' } do %>Destroy</td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>

<% else %>
<h1>Validate yourself first, please</h1>
<% end %>
