<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('orders.status') %>:</strong>
  <%= @order.status %>
</p>

<p>
  <strong><%= t('orders.payment') %>:</strong>
  <%= @order.payment %>
</p>

<p>
  <strong><%= t('orders.address') %>:</strong>
  <%= @order.address %>
</p>

<p>
  <strong><%= t('orders.city') %>:</strong>
  <%= @order.city %>
</p>

<p>
  <strong><%= t('orders.name') %>:</strong>
  <%= @order.name %>
</p>

<p>
  <strong><%= t('orders.surname') %>:</strong>
  <%= @order.surname %>
</p>

<br />

<table>
  <tr>
      <th><%= t('orders.title') %></th>
      <th></th>
      <th></th>
  </tr>
  <tr>
    <td><%= t('orders.name') %></td>
    <td><%= t('orders.units') %></td>
    <td><%= t('orders.price') %></td>
  </tr>
  <% for line_item in @order.line_items %>
    <%= render 'show_line_item_fields', :line_item => line_item %>
  <% end %>
</table>

<br />

<%= link_to t('nav.edit'), edit_order_path(id: @order.id) %> |
<%= link_to t('nav.back'), orders_path %>


