<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <%= link_to t("nav.home"), root_path, :class => "navbar-brand" %>
  <% if current_user %>
    <%= link_to t("nav.Products"), products_path, :class => "navbar-brand" %>
    <%= link_to t("nav.Orders"), orders_path, :class => "navbar-brand" %>
    <%= link_to t("nav.Users"), users_path, :class => "navbar-brand" %>
    <%= link_to "#{t('nav.Logged_in_as')} #{current_user.name}", user_path(id: current_user.id), :class => "navbar-brand" %>
    <%= link_to t("nav.Log_out"), session_path(id: current_user.id), method: :delete, data: { confirm: t("alert.Do_you_want_to_end_session")}, :class => "navbar-brand"   %>
  <% else %>
    <%= link_to t("nav.Sign_up"), sign_up_path, :class => "navbar-brand" %>
    <%= link_to t("nav.Log_in"), log_in_path, :class => "navbar-brand" %>
  <% end %>
</nav>