<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <%= link_to "Home", root_path, :class => "navbar-brand" %>
  <% if current_user %>
    <%= link_to "Products", products_path, :class => "navbar-brand" %>
    <%= link_to "Order", orders_path, :class => "navbar-brand" %>
    <%= link_to "Users", users_path, :class => "navbar-brand" %>
    <div class="navbar-brand">Logged in as</div>
    <%= link_to current_user.name, "#{users_path}/#{current_user.id}", :class => "navbar-brand" %>
    <%= link_to "Log out", session_path(current_user.id), method: :delete, :class => "navbar-brand"  %>
  <% else %>
    <%= link_to "Sign up", sign_up_path, :class => "navbar-brand" %>
    <%= link_to "Log in", log_in_path, :class => "navbar-brand" %>
  <% end %>
</nav>