<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('products.name') %></strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= t('products.description') %>:</strong>
  <%= @product.description %>
</p>

<p>
  <strong><%= t('products.date_add') %>:</strong>
  <%= @product.added_at %>
</p>

<p>
  <strong><%= t('products.manufacturer') %>:</strong>
  <%= @product.manufacturer %>
</p>

<p>
  <strong><%= t('products.units') %>:</strong>
  <%= @product.units %>
</p>

<p>
  <strong><%= t('products.category') %>:</strong>
  <%= @product.category %>
</p>

<p>
  <strong><%= t('products.price') %>:</strong>
  <%= @product.price %>
</p>

<%= link_to t('nav.edit'), edit_product_path(id: @product.id)%> |
<%= link_to t('nav.back'), products_path %>
