<!DOCTYPE html>
<html>
<head>
  <title>Virtual Shop 2014</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css" />
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css" />
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'menu' %>

<div class="container">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</div>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    Virtual Shop 2014
  </div>
</footer>

</body>
</html>
